
@page "/popup.html"
@using WebExtensions.Net.Windows;
@using mediacredextension.Pages.tabs
@inject IApiData _apiData
@inherits BasePage
@inject IJSRuntime jsruntime


    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Credibility Rating">
        <MudText>Argument strength</MudText>
        <MudText>@strength</MudText>
        <MudText>@currentUrl</MudText>
        <p>Testofpageurl</p>
        <p>@indexPageUrl</p>

    </MudTabPanel>
    <MudTabPanel Text="Create">
        <MudTabs Outlined="true" Position="Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="Article">
                <CreateArticleTab />
            </MudTabPanel>
            <MudTabPanel Text="Argument">
                <CreateArgumentTab/>
            </MudTabPanel>
            <MudTabPanel Text="Author">
                <CreateAuthorTab />
            </MudTabPanel>
            <MudTabPanel Text="Backing">
                <CreateBackingTab />
            </MudTabPanel>
        </MudTabs>

    </MudTabPanel>
</MudTabs>

@code {
    private string strength = "";
    private HttpClient client;
    private string indexPageUrl;
    private string currentUrl;
    protected override async Task OnInitializedAsync()
    {
        var qoptions = new GetInfo() {Populate = true };
        var tabinfo = await WebExtensions.Windows.GetCurrent(qoptions);
        currentUrl = await jsruntime.InvokeAsync<string>("getCurrentTab");
        strength = await _apiData.GetLinkToulmin(currentUrl.Replace("http://", ""));

    }

}


